*{
    background-color: #333;
    color: #f5efef;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
}

.nav{
  display: flex;
  padding: 5px ;
  justify-content: space-between;
  
}
.nav .logo img{
  object-fit: contain;
  max-width: 10%;
}

.nav .actions .joinnow{
background-color: #e50914;
  border: none;
  border-radius: 2px;
  padding: 10px 10px;
  color: #fff;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin: 0px 10px;
}
.nav .actions .joinnow:hover{
  background-color: red;
  color:#111;
  transition: 0.8ms;
}
.nav .actions{
  margin: 10px 10px;
}
.nav .actions .signin{
  background-color: transparent;
  color: #fff;
  padding: 9px 9px;
  border: 2px solid #fff;
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin: 0px 10px;
  font-size: 10px;
}
.nav .actions .signin:hover{
  background-color: #111;
  color:#fff;
  transition: 0.8ms;
}
.name{
    font-size: 1rem;
    font-weight:700; 
    font-family: Arial, Helvetica, sans-serif; 
    filter: drop-shadow(2px 2px 10px rgb(14, 178, 228));
    color: rgb(14, 195, 236);
  
    
  }
  .banner{
    background-image: url(https://occ-0-4857-2186.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABer7SeWc6FvkBqWtk61GwL7rshAEVCOARQZVTEJGnLXykYBlO4nbbr6gs7M650BjULuaN6hucXKr5xY2iqPAajrxXd70HawdJeuD.jpg?r=608&quot);
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    background-repeat: no-repeat; 
    height: 600px;
   
  }
 .posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 1% 0.5%;
 }
 .posters::-webkit-scrollbar{
  display: none;

}
.poster{
  margin: 0% 3% ;
  border-radius: 0.4%;
}
h1{
  font-weight:600;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1% 0% 0% 1%;
  font-size: 25px;
}

h3{
  text-align: center;
  font-weight: 400;
  font-size: 0.8 rem;
  padding: 2% 0;
}
